@charset "UTF-8";
/* page.css
  各ページ用CSS
*/

/* *_part1.html
-------------------------------------*/
html#part1 #container {
	background-color: #1d4df5;
	background-image:url(../img/part1/bg.jpg);
}

html#part2 #container {
	background-image:url(../img/part2/bg.jpg);
}

/* index.html
-------------------------------------*/
html#index #container {
	background-image:url(../img/bg_top.jpg);
}

#top_main {
	min-height: 500px;
	padding: 15px 0 60px 175px;
}
#top_main .news_title {
	margin: 0 10px 0 auto;
	width: 172px;
}
#top_main .news_list {
	margin: 0 0 auto;
	width: 550px;
	color: #fff;
	font-size: 90%;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}
#top_main .news_list li {
	background: url(../img/box_bg.png);
	margin-bottom: 1px;
}
#top_main .news_list li .date {
	background: #000;
	padding: 4px 10px;
	display: inline-block;
	height: 100%;
}
#top_main .news_list li .content {
	padding: 0 14px;
}
#top_main .banner_list {
	margin: 0 10px 5px auto;
	overflow: hidden;
}
#top_main .banner_list li {
	float: right;
	margin-left: 10px;
}
#top_main .copy {
    position: absolute;
    top: 43%;
    right: 40%;
    letter-spacing: 3px;
    color: #fff;
}
#top_main .kokuchi {
	position: absolute;
	bottom: 38px;
	right: 0px;
}

/* story.html
-------------------------------------*/
#main .story_frame {
	padding-top: 15px;
	position: relative;
}
#main .story_frame > a {
	display: block;
	position: absolute;
	bottom: 25px;
	right: 20px;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
	line-height: 0;
}
#main .story_frame > a.ss1 {
	right: 180px;
}

#main .story_frame .screenshot_list {
	position: absolute;
	bottom: 60px;
	right: 30px;
}

#main .story_frame .screenshot_list li {
	display: inline-block;
	margin-left: 10px;
	box-shadow: 3px 3px 0 rgba(0,0,0,0.4);
}

#main .story_frame .screenshot_list img {
	display: block;
}

/* character.html
-------------------------------------*/
#main #chara_top {
	margin-top: 10px;
	height:554px;
	width:100% !important;
	background:url(../img/part1/character/top.png) no-repeat center;
}

#main #chara_top_hover {
	height:554px;
	background-repeat:no-repeat;
	background-position:center;
}

/*for classification*/
#main .hero {}
#main .council {}
#main .media {}

#main .chara_list { /*キャラクター詳細*/
	width:900px;
	height:448px;
	background:url(../img/part1/character/BG.png) repeat-x;
	margin-bottom:30px;
	position:relative;
}

#main .chara_list #img_haruka {width:100%;height:100%;background:url(../img/part1/character/haruka_t.png) scroll right bottom no-repeat}
#main .chara_list #img_taiyo {width:100%;height:100%;background:url(../img/part1/character/taiyo_t.png) scroll right bottom no-repeat}
#main .chara_list #img_tokoha {width:100%;height:100%;background:url(../img/part1/character/tokoha_t.png) scroll right bottom no-repeat}
#main .chara_list #img_noa {width:100%;height:100%;background:url(../img/part1/character/noa_t.png) scroll right bottom no-repeat}
#main .chara_list #img_iincho {width:100%;height:100%;background:url(../img/part1/character/iincho_t.png) scroll right bottom no-repeat}
#main .chara_list #img_kaicho {width:100%;height:100%;background:url(../img/part1/character/kaicho_t.png) scroll right bottom no-repeat}
#main .chara_list #img_blue {width:100%;height:100%;background:url(../img/part1/character/blue_t.png) scroll right bottom no-repeat}
#main .chara_list #img_pink {width:100%;height:100%;background:url(../img/part1/character/pink_t.png) scroll right bottom no-repeat}
#main .chara_list #img_green {width:100%;height:100%;background:url(../img/part1/character/green_t.png) scroll right bottom no-repeat}

#main .chara_list .content {
	margin:0 25px;
	position:relative;
	line-height:180%;
}

#main .chara_list .content .name {
	margin:35px 0 40px;
}

#main .chara_list .content .status {
	position:absolute;
	left:0;
	top:280px;
}

/* chara_list part2 */
#main .chara_list2 {
	margin-top: 10px;
	width:900px;
	margin-left:1px;
	overflow: hidden;
}
#main .chara_list2 li {
	width:299px;
	height:120px;
	margin:0 1px 1px 0;
	float:left;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	background-image: url(../img/character/chara_list_bg.png);
}
#main .chara_list2 li:hover {
	background-image: url(../img/character/chara_list_bg_o.png);
}
#main .chara_list2 li.selected {
	cursor: default;
	background-image: url(../img/character/chara_list_bg_o.png);
}
#main .chara_list2 li > div {
	width: 699px;
	height: 400px;
	position: absolute;
	left:-400px;
	top:-80px;
	background: no-repeat left bottom;
}
/* mikan */
#main .chara_list2 li.mikan > div { top: -135px; }
/* dekai */
#main .chara_list2 li.dekai > div { top: -30px; }

#main .chara_list2 li > div .text {
	position: absolute;
	bottom: 0;
	left: 0;
}

#main .chara_list2 li > .marker {
	position: absolute;
	top: 0px;
	right: 0px;
	background: url(../img/character/marker.png) no-repeat right top;
	display: block;
	width: 23px;
	height: 23px;
}

/* news.html
-------------------------------------*/
#main .news_list {
	width:900px;
	padding:0 0 0px;
	margin-bottom:1px;
	background:url(../img/box_bg.png);
}

#main .news_list .date {
	width: 95px;
	padding: 3px 0;
	background: #000;
	color: #fff;
	text-align: center;
}

#main .news_list .content {
	padding:10px 17px;
	color:#fff;
	text-shadow: 2px 2px 1px #000;
}

/* information.html
-------------------------------------*/
#main .info_list {
	width:550px;
	overflow:hidden;
}

#main .info_list dt {
	width:79px;
	padding:3px 10px;
	margin-bottom:1px;
	float:left;
	background:#000;
	text-align: center;
}
#main .info_list dd {
	width:430px;
	padding:3px 10px;
	margin-bottom:1px;
	float:left;
}
/* goods_list */
#main .goods_list {
	overflow:hidden;
	margin-bottom:20px;
}
#main .goods_list:last-child {
	margin-bottom:0px;
}
#main .goods_list > dt {
	width:170px;
	float:left;
	position:relative;
}
#main .goods_list > dt img.main{
	border:#000 solid 4px;
}
#main .goods_list > dt img.tag{
	display:block;
	position:absolute;
	margin: 4px 16px 0 0;
	right: 0;
	top: 0;
	border: none;
}
#main .goods_list > dd {
	width:650px;
	float:left;
}
#main .goods_list > dd > dl {
	overflow:hidden;
}
#main .goods_list > dd > dl dt {
	float:left;
	width:15%;
	padding:2px 0;
	margin-bottom:1px;
	background:#000;
	text-align: center;
}
#main .goods_list > dd > dl dd {
	float:right;
	padding:2px 0;
	margin-bottom:1px;
	width:84%;
}
#main .goods_list > dd .title {
	margin:0 0 3px;
	padding:4px 0;
	font-weight:bold;
	font-size: 120%;
}
#main .goods_list > dd .detail {
	background:url(../img/box_bg.png);
	padding:10px;
	margin-top:7px;
}
#main .goods_list > dd .mini {
	padding-top:7px;
	font-size:90%;
	color:#ccc;
}
#main .goods_list > dd .itaku_title {
	padding:0 0 0 12px;
	margin:7px 0 3px 0;
	background:url(../img/icon_marker.png) no-repeat left center;
}
#main .goods_list > dd ul.itaku_list {
	overflow:hidden;
}
#main .goods_list > dd ul.itaku_list li {
	float:left;
	margin-right:10px;
}
#main .goods_list > dd ul.itaku_list li img{
	box-shadow: 2px 2px 1px rgba(0,0,0,0.4);
}
#main .goods_list.old > dt {
	width: 140px;
}
#main .goods_list.old > dt img.main{
	width: 120px;
}
#main .goods_list.old > dd .title {
	font-size: 100%;
}

/* link_list */
#main .link_list {
	overflow:hidden;
	margin-bottom:10px;
}
#main .link_list:last-child {
	margin-bottom:0px;
}
#main .link_list dt {
	width:200px;
	padding-bottom:2px;
	float:left;
}
#main .link_list dd {
	width:660px;
	padding-bottom:2px;
	float:left;
}

#main .info_contact {
	text-align: right;
	margin-top: -53px;
	margin-bottom: 35px;
}

#main .members_list {
	overflow:hidden;
	margin:0 -16px -16px 0;
}
#main .members_list li {
	width:425px;
	float:left;
	margin:0 16px 20px 0;
}
#main .members_list li img{
	border:solid #000 4px;
	float: left;
}
#main .members_list li .wrapper{
	overflow: hidden;
}
#main .members_list li .wrapper .name{
	float: left;
	width:15%;
	background: #000;
	font-size: 120%;
	padding: 3px 8px;
}
#main .members_list li .wrapper .pos{
	float: right;
	width: 50%;
	text-align: right;
	padding: 3px 5px;
}
#main .members_list li .wrapper .desc{
	clear: both;
	border-top: 1px solid #000;
	padding: 8px;
}

/* download.html
-------------------------------------*/
#main span.small {
	font-size: 80%;
	color: #ccc;
}

#main code.banner_text {
	display: block;
	width:590px;
	background: url(../img/box_bg.png);
	padding: 5px 10px;
	border-radius: 3px;
}

/* contact.html
-------------------------------------*/
#main #form_area {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 10px 0;
}
#main .form_list {
	margin-bottom: 20px;
}
#main .form_list li {
	overflow: hidden;
	margin-bottom: 10px;
}
#main .form_list li .title {
	width: 120px;
	text-align: right;
	background: #000;
	padding: 4px 7px;
	float: left;
}
#main .form_list li .input {
	width: 725px;
	float: right;
}
#main .form_list li .input input,
#main .form_list li .input textarea {
	padding: 3px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
#main .form_list li .input input.error,
#main .form_list li .input textarea.error {
	background: #FAE5E5;
}
#main .form_list li .input .error_msg {
	display: none;
	margin-top: 3px;
	padding-left: 18px;
	background: url(../img/icon_error.png) no-repeat left 2px;
	color: #F53B3B;
}
#main .form_list li .input #cf-name		{ width: 250px;}
#main .form_list li .input #cf-email	{ width: 400px;}
#main .form_list li .input #cf-message	{ width: 670px; height: 130px;}
#main .button_area {
	text-align: center;
}
#main .button_area input {
	margin: 0 10px;
	padding: 3px;
	width: 200px;
	background: #6D78A3;
	color: #fff;
}
#main .button_area input:hover {
	background: #8993B9;
}
#main .complete_area {
	text-align: center;
	overflow: hidden;
	display: none;
	margin: 50px 0;
}

/* event_c85.html
-------------------------------------*/
#main a.button {
	background: #000;
	display: inline-block;
	padding: 3px 8px;
	vertical-align: bottom;
	border-radius: 2px;
	text-shadow: none;
}
#main a:hover.button {
	text-decoration: none;
	background: #2959D6;
}
